::-webkit-scrollbar {
  display: none;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled {
  pointer-events: none;
  color: grey;
  opacity: 0.5;
}


.fixed {
  position: relative;

  .absolute {
      position: absolute;
  }
}

.d-flex {
  display: flex;
}