html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  background-color: black;
}

* {
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  color: grey;
  opacity: 0.5;
}


.fixed {
  position: relative;

  .absolute {
    position: absolute;
  }
}

.d-flex {
  display: flex;
}